# Environments
.env
.venv
venv/
debug/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env.zip
stripe_backup_codetxt

# Distribution / packaging
build/
dist/
*.egg-info/

.oci/config
.pem

.cursor/mcp.json