<<date>>

<<name>>
<<phone>> | <<email>>

<<hiring manager>>
<<company name>>

Re: <<position title>>

Hi <<salutation>>,

<<body paragraph>>

<<body paragraph>>

<<body paragraph>>

<<body paragraph>>


Best,

<<name>>
