<<date>>

<<name>>
<<phone>> | <<email>> | <<portfolio or link>>

<<hiring manager>>
<<company name>>

Re: Let’s Talk About <<position title>>

Hello <<salutation>>,

<<body paragraph>>

<<body paragraph>>

<<body paragraph>>

<<body paragraph>>


Warm regards,

<<name>>
