<<date>>

<<name>>
<<phone>> | <<email>> | <<portfolio or link>>

<<hiring manager>>
<<company name>>

Re: Let’s Talk About <<position title>>


<<salutation>>,

<<body paragraphs>>



<<complimentary close>>,

<<name>>
