<<date>>

<<name>>
<<address>>
<<city, state, zip>>
<<phone>> | <<email>>

<<hiring manager>>
<<company name>>
<<company address>>

Re: <<position title>>

Dear <<salutation>>,

<<body>>

<<complimentary close>>,

<<name>>
