<<date>>

<<name>>
<<city, state>>
<<phone>> | <<email>> | <<LinkedIn or portfolio>>

<<hiring manager>>
<<company name>>

Re: Application for <<position title>>

Dear <<salutation>>,

<<body>>

Kind regards,

<<name>>
